/* Move down content because we have a fixed navbar that is 50px tall */

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.mono {
  font-family: monospace;
}

.mb-page {
  margin-top: 40px;
}
    