<div class="mb-page container">
    <div class="page-header">
        <h1>{{creditor.nickname}} 
            <small class="ng-binding mono" uib-tooltip="An Ethereum account address" tooltip-placement = "right" tooltip-trigger="mouseenter">
                "{{creditor.address}}"
            </small>
        </h1>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center"><em>Identity</em></h3>
                </div>

                <table class="table">
                    <tr>
                        <td>First name:</td>
                        <td>{{creditor.firstName}}</td>
                    </tr>
                    <tr>
                        <td>Last name:</td>
                        <td>{{creditor.lastName}}</td>
                    </tr>
                    <tr>
                        <td>Balance:</td>
                        <td>{{creditor.balance}}</td>
                        <td>
                            <button ng-click="deposit('0x100000000')">Deposit</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center"><em>Asks</em></h3>
                </div>

                <table class="table table-hover" ng-show="bids">
                    <thead>
                        <tr>
                            <th>Amount</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- active success warning danger -->
                        <tr ng-repeat="bid in bids">
                            <td>{{ bid.amount }} Ether</td>
                            <td>
                                <span ng-click="cancelBid(bid.id)" class="glyphicon glyphicon-remove" uib-tooltip="remove bid" tooltip-placement="top" tooltip-trigger="mouseenter"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center"><em>Asks</em></h3>
                </div>

                <table class="table table-hover" ng-show="asks">
                    <thead>
                        <tr>
                            <th>№</th>
                            <th>Bids</th>
                            <th>Amount</th>
                            <th>Duration</th>
                            <th>Created</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- active success warning danger -->
                        <tr ng-repeat="ask in asks">
                            <td>
                                <a href="#/debtors/{{ask.debtor}}/asks/{{ask.id}}">{{ask.id}}</a>
                            </td>
                            <td><span class="badge">{{ ask.bidsCount }}</span></td>
                            <td>{{ ask.amount }} Ether</td>
                            <td>{{ ask.creditDays }} days</td>
                            <td>{{ ask.creationTime.fromNow() }}</td>
                            <td>
                                <a type="button" class="btn btn-primary" ng-click="addBid(ask)">make bid</a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
